/*
#mudaLayout {
  display: none;
}

@media (min-width: 610px){

	#mudaLayout{
		display: inline-block;
	}

}
*/

* {
    margin: 0;
    padding: 0;
    /*
    overflow: hidden;
    */
    text-decoration: none;
}

/*
.esconder_scroll {
    overflow: hidden;
}
*/

/* POPUP */

#modal{
    display: none;
}

#modal.show{
    display: block;
}    
.modal-body {
    width: 300px;
    height: auto;
    position: fixed;
    left: 50%;
    top: 30px;
    background: #0d103b;
    margin-left: -150px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
    z-index: 999999;
}
.modal-overlay {
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
}

.modal_title {
    text-align: center;
    font-family:'Roboto', 'sans-serif';
    font-size: 1.5rem;    
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.modal_text {
    font-family:'Roboto', 'sans-serif';
    font-size: 1rem;
    padding: .5em;
    margin-left: 1em;
    color: #ffffff;
}

.ok {
    margin-left: 1.5em;
    height: auto;
    align-content: center;
    align-items: center;
}

.botao {
    text-align: center;
    font-family:'Roboto', 'sans-serif';
    font-size: 1.5rem;    
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
    border-radius: .2em;
    background-color: #d77928;
    text-decoration: none;
    width: 75px;
    border-color: transparent;
    border-style: none;
}

.conteudo_header {
    margin-top: 2em;
}

.body {
    background: #000;
    display: table;
    width: 100%;
    height: 100vh;
    padding: 10px 0;
    background-position: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.logo {
    background: #000;
    display: block;
    width: 75%;
    height: auto;
    padding: 10px 0;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
}


.logo_posicao {
    position: absolute;
    top: 95%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.container {
	padding: 0 10%;
}

:focus {
  outline-color: #3b99fc;
  outline-style: solid;
  outline-width: 3px;
}

@media all and (max-width: 896px) {
    .body {
        background-size: 550px;
    }
    }

@media all and (max-width: 480px){
    .body{
        background-size: 350px;        
    }
    /*
    p {
        font-size: 10rem;
        color:blueviolet;
    }
    */
}

.topicos{
    width: 100%;
    height: 6em;
    background-color: #cccccc;
    border-bottom: 3px solid #a2a2a2;
}

.topicos_imagem{
    width: 20%;
    max-width: 80px;
    height: auto;
    display: block;
    left: 10%;
    float: left;
    margin-left: 1em;
    margin-top: .5em;
    /*
    padding: .5em 0em 2em 1em;
    */
}

.topicos_texto {
    height: auto;
    float: left;
    margin-top: .5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    color: #000;
    left: 45%;
    margin-left: 1em;
    margin-top: 1.5em;
    margin-right: 1em;
    /*
    padding: .5em 0em 2em 1em;
    */
    width: 60%;
}

.topicos_texto_experiencias {
    height: auto;
    float: left;
    margin-top: .5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    color: #000;
    left: 45%;
    margin-left: 1em;
    margin-top: 1.5em;
    margin-right: 1em;
    /*
    padding: .5em 0em 2em 1em;
    */
    width: 30%;
}

.botao_topicos{
    float: left;
    position: absolute;
    padding: 1em 0em 2em 0em;
    width: 35px;
    height: 35px;
    cursor: pointer;    
    left: 90%;
}

.botao_topicos_topo{
    width: 25px;
    height: 5px;
    background: #a2a2a2;
    transform: rotate(45deg);
    border-radius: 25%;
    margin-top: 1em;
    left: 90%;
    float: left;
}

.botao_topicos_base{
    width: 25px;
    height: 5px;
    background: #a2a2a2;
    transform: rotate(-45deg);
    border-radius: 25%;  
    margin-top: .75em;
    margin-right: 2em;
    float: left;
}

.iframe_maps {
    border: 0;
    display: table;
    width: 100%;
    height: 100vh;
    padding: 10px 0;
    background-position: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.img_box {
    width: 60%;
    max-width: 60%;
    height: 12em;
    background-color: transparent;
    border-bottom: 3px solid #a2a2a2; 
    margin-left: auto;
    margin-right: auto;      
    display: block;
    padding: 1rem;
}

.img_corpo {
    width: 40%;
    height: auto;
    display: block;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;    
}

.img_tabela {
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1em 1em 1em;
}

.img_dicas {
    width: 20%;
    height: auto;
    display: block;
    margin-left: 1em;
    margin-bottom: 1em;
}


.img_titulo {
    text-align: center;
    font-family:'Roboto', 'sans-serif';
    font-size: 1.5rem;    
    margin-top: 1rem;
}

.img_subtitulo {
    text-align: center;
    font-family:'Roboto', 'sans-serif';
    font-size: 1.5rem;    
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.progamacao_data {
    text-align: center;
    font-family:'Roboto', 'sans-serif';
    font-size: 1rem;    
    margin-top: 1em;
    margin-bottom: 1rem;
}

.img_texto {
    font-family:'Roboto', 'sans-serif';
    font-size: 1rem;
    padding: .5em;
    margin: 0 1em 0 1em;
    text-align: justify;
}

.img_texto_ul {
    font-family:'Roboto', 'sans-serif';
    font-size: 1rem;
    padding: .5em;
    margin: 0 1em 0 1em;
}

.img_texto_subtitulo{
    font-family:'Roboto', 'sans-serif';
    font-size: 1rem;
    padding: .5em;
    margin-left: 1em;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
/*    text-align: center;*/
}

.img_icone {
    padding: .5em;
    margin-left: 2em;
    max-width: 20px;
    height: auto;
    float: left;
    display: block;
}

.img_icone_texto {
    font-family:'Roboto', 'sans-serif';
    font-size: 1rem;
    padding: .5em;
    margin-left: .5em;
    margin-top: .2em;
    float: left;
    text-decoration: none;
    color: #000000;
}

.img_separacao {
    width: 90%;
    height: .01em;
    background-color: transparent;
    border-bottom: 3px solid #a2a2a2; 
    margin-left: auto;
    margin-right: auto;      
    display: block;
    padding: .2rem;
    margin-bottom: 1em;
}

.img_paragrafo{
    width: 90%;
    height: 1em;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;      
    display: block;
    padding: .2rem;
    margin-bottom: 1em;
}

.bold {
    font-weight: bold;
}

ul {
    list-style-type: circle;
    margin-left: 4rem;
}