.tabela_modulos{
    padding-top: .5em;
	padding-bottom: .5em;
    text-align: center;
    display: table;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.tabela_texto{    
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    justify-content: space-between;
	align-items: center;
	align-content: center;    
    font-family:'Roboto', 'sans-serif';
    margin-top: .5em;
    margin-bottom: 2em;
    text-decoration: none;
}

.tabela_icone{
    width: 50%;
    height: auto;
    background-color: #d77928;
    border-radius: 50%;
    padding: .5em .5em .5em .5em;
}
/*
#local_evento{
    margin: 2em 0em 0em 2em;
    padding: .5em .5em .5em .5em;
}
*/